/* large desktops and moniters */
@media only screen and (min-width:1024px) {
    
    .header {
        width: 100% ;
        padding: 20px 10px;
    }
    .navbar {
        width: 96%;
        justify-content: space-between;
    }
    
    
    .categories {
        display: flex;
        align-items: center;
    }

    .login {
        display: flex;
        align-items: center;
    }

    .cart {
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .banner {
        width: 100%;
    }

    .search-bar {
        width: 350px;
    }
    .category {
        width: 90%;
        margin: auto;
    }
    .category ul {
        list-style: none;
        width: 98%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        /* margin: 10px; */
    }
    .category-tag {
        font-size: smaller;
    }

    .category ul li {
        text-align: center;
        padding: 10px 0px;
        flex-basis: 190px;
        margin: auto;
        cursor: pointer;
        margin-bottom: 5px;
        font-size: 15px;
        flex-shrink: 1.2;
    }

    .category ul li img {
        width: 130px;
        display: flex;
        align-items: baseline;
        margin: auto;
        margin-bottom: 10px;
    }

    /* .heading {
        font-size: 27px;
    }
    .sub-heading {
        font-size: 20px;
    } */

    /* .card {
        width: 300px;
    }

    .card .card-buttons {
        bottom: -63px;
    } */

    .card .heading {
        font-size: 16px;
    }
}